/* css styles */



/* fonts */

@font-face {
    font-family: 'Varela';
    font-weight: 400;
    src: url('./_assets/fonts/varelaround-regular-webfont.woff2') format('woff2'),
      url('./_assets/fonts/varelaround-regular-webfont.woff') format('woff');
  }

:root {
    --fs-400: 0.99rem;
}

.body{
    font-family: 'Varela';
    font-size: var(--fs-400);
    font-weight: 400;
    .page-columns{
    grid-template-columns: minmax(500px, calc( 1050px - 3em )) !important;
  }
}



/* banner */

.quarto-title-banner {
  height: 550px;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
  color: #fefefe; 
  text-align: right;
  align-items: center;
  margin-bottom: 0;
  font-family: 'Varela';
  background-position: bottom;
}



/* containers */

.content-center {
  text-align: center;
   font-family: 'Varela';
}

.content-right{
  text-align: right;
  font-family: 'Varela';
}

.photo-reference{
  text-align: right;
  font-family: 'Varela';
  font-size: 0.8rem;
  font-weight: 100;
  color: darkgrey;
}

.content-left{
  text-align: left;
  font-family: 'Varela';
  margin-top: 0;
}

.container-image-text{
  display: flex;
  position: relative;
  padding-right: 4rem;
  padding-left: 4rem;
  font-family: 'Varela';
}

.container-background{
  background-image: url("_assets\IMG_29965_edit.jpg");
  background-color: #cccccc;
}

.container-text-on-image {
  position: relative;
  text-align: center;
  margin-top: 2rem;
  font-family: 'Varela';
}
  
.container-poster {
  position: absolute;
  top: 50%;
  right: 70%;
  transform: translate(+55%, -50%);
  margin-bottom: 0;
  padding: 0 1rem 1rem 1rem;
  background-color: #ffffff70;
  min-width: 55vh;
  font-family: 'Varela';
  border-radius: 20px;
}



/* elements */

.btn {
    border-radius: 40px;
    background-color: lightgrey;
    border: none;
    outline: black;
    padding: 0.25rem 1.5rem 0.25rem 1.5rem;
    overflow: hidden;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-family: 'Varela';
}

.btn:hover{
  background-color: darkgrey;
  color: white;
  font-family: 'Varela';
}



/* images */

.gallery {
  display: flex;
  padding-top: 24px;
}

.four-image-gallery {
  flex: 25%;
  padding-right: 24px;
}

.three-image-gallery {
  flex: 25%;
  padding-right: 24px;
  font-size: medium;
}


/* forms */

label {
  padding-right: 6px;
  padding-bottom: 12px;
}

input {
  border: 1px solid #ccc;
  padding-left: 6px;
  padding-top: 3px;
  border-radius: 3px;
}

input:focus {
  outline: 1px solid #000;
}



/* smaller screen optimization */

@media (max-width: 900px) {
  p.subtitle {
    display: none;
  }
  .container-image-text{
    flex-direction: column;
  }
  .container-poster {
    right: 50% !important;
    transform: translate(+50%, -50%) !important;
  }
}

@media (max-width: 800px) {
  .conditional-image {
    display: none;
  }
  .container-text-on-image {
    height: 280px;
  }
  .container-poster {
    min-width: 100% !important;
  }
  .three-image-gallery {
    font-size: small;
  }
}
